*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #fffdd0;

}

.cont{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    background-color: #fff;
}

@media screen and (min-width: 992px){
    .cont{
        max-width: 992px;
        max-height: auto;
        margin: 0 auto;
    }
}

.cont h1{
    margin: 0;
    text-align: center;
}

